body {
    background-image: url(body.jpg);
    background-size: cover;
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
}
.home{
    font-size: 25px;
    
}