
.flex{
    display: flex;
    flex-direction:row ;
    background-color: rgb(241, 200, 124);
}
.box{

    height: 600px;
    width: 1000px;
}

.design{
    display: flex;
    height: 100px;
    width: 1100px;
    flex-direction: row ;
    margin-left: 80px;
    border: 5px;
    border-radius: 10px;
    background-color: rgb(155, 252, 247);
}
.container{
    height:350px;
    width:350px;
    border-radius: 20px;
}

.footer{
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
    background-color: #73A8C2;
    text-decoration: none;
    color: #F7EDE1;
    padding: 2em 2.5em;

}